@model DebtorsControl.ViewModel.ClientsViewModel
@{
    ViewBag.Title = "Service Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            @using (Html.BeginForm())
            {
                <p class="text-danger">@ViewBag.Empty</p>
                <p class="text-success">@ViewBag.ServicesSucess</p>
                                         <p class="text-danger">@ViewBag.ErrorMessage</p>
                <div class="form-group">
                    <div class="col-md-2">
                        <label> Client Name</label>
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.GetClients, new SelectList(Model.GetClients, "ClientCode", "ClientName"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GetClients, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
                <div class="form-group">
                    <div class="col-md-2">
                        <label>Invoice Number</label>
                    </div>
                    <div class="col-md-10"><select class="form-control" name="invoicenumber" id="invoicenumber" required>
                    </select></div>
                   
                </div>
                <br/>
                <br/>
                <div class="form-group">
                    <div class="col-md-2">
                        <label>Service Number</label>
                    </div>
                    <div class="col-md-10"><input class="form-control" type="text" name="servicenumber"/></div>
                </div>
                <br/>
                <br/>
                <div class="form-group">
                    <input class="btn btn-primary col-md-4 col-md-offset-4" type="submit" name="submit" />
                </div>
            }
        </div>
    </div>
</div>




