@using DebtorsControl.Models
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/Debtors/Index" class="site_title">
                <span class="login100-form-title p-b-48" style="max-width: 50px">
                    <img src="../../img/logon.png" alt="Petrodata Logo" style="max-width: 50px" />
                </span><span>Debtors Control!</span>
            </a>
        </div>
        <div class="clearfix"></div>
        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">

            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>@ViewBag.UserFullName</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->
        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    @{

                        using (pdInvoiceEntities db = new pdInvoiceEntities())
                        {
                            var email = Session["AdminId"].ToString();
                            var admins = db.Staffs.Where(c => c.Role.Equals("MD") || c.Role.Equals("GM") || c.Role.Equals("Accountant") || c.Email.Equals("sola.saliu@petrodata.net"));
                            if (admins.Any(c => c.Email.Equals(email)))
                            {
                                <li>
                                    <a href="/Debtors/Index"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>

                                </li>
                                <li>
                                    @Html.ActionLink("Add Staff", "CreateStaff", "Debtors")
                                </li>
                                <li>
                                    @Html.ActionLink("Add Client", "CreateClient", "Debtors")
                                </li>

                                <li>
                                    @Html.ActionLink("Add Invoice No", "AddInvoice", "Debtors")
                                </li>
                                <li>
                                    @Html.ActionLink("Add Service Entry No", "ServiceEntry", "Debtors")
                                </li>
                                <li>
                                    @Html.ActionLink("Post Dollar Invoice", "PostDollarInvoice", "Debtors")
                                </li>
                                <li>
                                    @Html.ActionLink("Post Naira Invoice", "PostNairaInvoice", "Debtors")
                                </li>
                                <li>
                                    @Html.ActionLink("Edit Invoice", "EditInvoice", "Debtors")
                                </li>
                                <li>
                                    @Html.ActionLink("Monthly Analysis", "MonthlyAnalysis", "Debtors")
                                </li>
                                <li>
                                    @Html.ActionLink("Annual Debtors Analysis", "AnnualDebtors", "Debtors")
                                </li>
                                <li>
                                    @Html.ActionLink("Reconcilation Report", "Reconcilation", "Debtors", null, new { target = "blank" })
                                </li>
                                <li>
                                    @Html.ActionLink("Update Remittance Advise", "RemittanceAdvise", "Debtors")
                                </li>
                                if (email != "sola.saliu@petrodata.net")
                                {
                                    <li>
                                        @Html.ActionLink("Staff Activity Log", "ActivityLog", "Debtors")
                                    </li>
                                }

                                @*<li>
                                        @Html.ActionLink("Create Service Entry", "ServiceEntry", "Debtors")
                                    </li>*@
                                //if (email != "sola.saliu@petrodata.net")
                                //{

                                //}

                    <li>
                        @Html.ActionLink("Change Password", "ChangePassword", "Account")
                    </li>
                            }
                            else
                            {
                                <li>
                                    <a href="/Debtors/Index"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>

                                </li>

                                <li>
                                    @Html.ActionLink("Add Client", "CreateClient", "Debtors")
                                </li>
                                <li>
                                    @Html.ActionLink("Add Invoice No", "AddInvoice", "Debtors")
                                </li>
                                <li>
                                    @Html.ActionLink("Create Service Entry", "ServiceEntry", "Debtors")
                                </li>
                                <li>
                                    @Html.ActionLink("Post Dollar Invoice", "PostDollarInvoice", "Debtors")
                                </li>
                                <li>
                                    @Html.ActionLink("Post Naira Invoice", "PostNairaInvoice", "Debtors")
                                </li>
                                <li>
                                    @Html.ActionLink("Edit Invoice", "EditInvoice", "Debtors")
                                </li>

                                <li>
                                    @Html.ActionLink("Monthly Analysis", "MonthlyAnalysis", "Debtors")
                                </li>
                                <li>
                                    @Html.ActionLink("Annual Debtors Analysis", "AnnualDebtors", "Debtors")
                                </li>
                                    <li>
                                        @Html.ActionLink("Reconcilation Report", "Reconcilation", "Debtors", null, new { target = "blank" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Update Remittance Advise", "RemittanceAdvise", "Debtors")
                                    </li>
                                <li>
                                    @Html.ActionLink("Change Password", "ChangePassword", "Account")
                                </li>
                                <li>
                                    @Html.ActionLink("Generate Excel Backup", "ChangePassword", "Account")
                                </li>
                            }
                        }
                    }


                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->
        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="/Account/Login">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>